<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>
     
<div class="row">
    <% for(let item of products){ %>
            <div class="col-lg-4 mt-3">
                <div class="card mx-auto " style="width: 18rem;">
                    <img src="<%=item.img%> " class="card-img-top" width="250px" height="200px" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=item.name%></h5>
                      <h3 class="card-title"><%=item.price%></h5>
                      <p class="card-text" ><%=item.desc%></p>
                      <a href="/products/<%=item._id%>" class="btn btn-info">View product</a>
                      <form action="/products/<%=item._id%>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-info btn-danger btn-success">Remove</button>
                      </form>

                    </div>
                  </div>
                  
                    
            </div>

  <% } %>



</div>
          
    


</body>
</html>